extends layout

block content
    .self-content.error-500
        h2 ERROR 500: INTERNAL ERROR
        p MRS SERVER DIN'T LIKE SOMETHING AND I HAVE NO IDEA WHAT THAT WAS.
        | I'LL T_T. MAYBE HAVE SOME ANSWERS FOR YOU LETER.
        p
            a(href="/") Back To Home
