extends layout

block content
    .self-content.administration-panel
        h3.title-underscore 管理君的小剪刀
        .row
            .col-md-8.col-sm-8
                - for article in articles
                    .recent-article
                        a.title(href='/blog/' + article._id)= article.title
                        ul(id=article._id)
                            li
                                a.edit(href="javascript: void(0);", title="编辑")
                                    span.glyphicon.glyphicon-pencil
                            li
                                a.remove(href="javascript: void(0);", title="删除")
                                    span.glyphicon.glyphicon-remove
                            li
                                a(href="http://yuezme.disqus.com", title="评论管理", target="_blank")
                                    span.glyphicon.glyphicon-comment
                            li
                                a.slideUp(href="javascript: void(0);", title="收起", style="display: none;")
                                    span.glyphicon.glyphicon-open
                        form(role="form", method="post", action="/blog/" + article._id, style="display: none;")
                            input(type="hidden", name="_method", value="put")
                            .form-group
                                input.form-control(type="text", name="title", required, placeholder="标题", value=article.title)
                            .form-group
                                textarea.form-control(name="content", required)= entities.decode(article.content, 2)
                            .form-group
                                button.btn.btn-default.btn-danger.hidden-xs(type="submit") 修改
                                button.btn.btn-default.btn-danger.btn-block.visible-xs(type="submit") 修改
                - if (page && page.current != 1 || page.total > page.current)
                    .pagination.col-md-11.col-sm-12.col-xs-12
                        ul.pager
                            - if (page.current != 1)
                                li.previous
                                    - var prev = parseInt(page.current) - 1
                                        a(href="/admin/page/" + prev) &larr; 上一页
                            - if (page.total > page.current)
                                li.next
                                    - var next = parseInt(page.current) + 1
                                        a(href="/admin/page/" + next) 下一页 &rarr;
            .col-md-4.col-sm-4
                .new
                    a(href="/blog/new", title="新的日志")
                        span.glyphicon.glyphicon-plus
                .all
                    a(href="javascript: void(0);", title="所有日志")
                        span.glyphicon.glyphicon-list-alt
