extends layout

block content
    .intro.col-md-11
        legend= title
        p.lead.text-success 乐正
        p.text-danger 酷爱互联网，热衷新兴技术。爱生活，爱家庭，爱自然。
        hr
        p.text-warning 为什么有这个博客？
        ul
            li 记录生活，从代码解放思想。
            li 整理知识，记忆总是善忘的。
            li 实践所学，激发创造的火花。
        p.text-warning 怎么做这个博客？
        ul
            li NodeJs, Express framework
            li Mongodb no-relation database
            li Jade Template
            li Bootstrap forth-end framework, jquery javascript framework
            li Nginx http proxy
        p.text-warning 这个博客有什么？
        ul
            li 胡诌诗文三三两两，不成章法，实属见笑。
            li 技术心得零零散散，微末之技，班门弄斧。
            li 随手所拍几许美景，大好江山，过过眼瘾。
        hr
        p 行行复行行，一蓑风雨怎堪停。
        p 有一公子哥，白衣鲜衫骑大马。从容姿态，一去三五里。试问你，怎堪比？
        p 从来穷人家，蓝布粗衫行难路。风尘仆仆，极目望远处。无奈何，勤补拙。
        hr
        p 联系我：
            a(href="mailto:zgs225@gmail.com") zgs225@gmail.com
        p
            small.text-muted Powerd By
                a(href="weibo.com/zgs225") &nbsp;&nbsp;乐正
