doctype 5
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        block js
        //if lt IE 9
            script(src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js")
            script(src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js")
    body
        div.row
            div.col-md-3.affix.hidden-xs.hidden-sm.self(style="min-height: 100%; height: 100%")
                div.sidebar
                    div.profile
                        img(src='/images/default.jpg')
                        h1 乐正
                        small 专注，简单
                    div.main-nav
                        ul.nav-list
                            li.nav-item
                                a(href='/') 日志
                            li.nav-item
                                a(href='/archives') 归档
                            li.nav-item
                                a(href='/intro') 简介
                    div.social-nav
                        a(class='weibo', href='http://weibo.com/zgs225', title='微博', target="_blank") 微博
                        a(class='google', href='#', title='谷歌+', target="_blank") 谷歌
                        a(class='github', href='https://github.com/zgs225', title='GitHub', target="_blank") GitHub
            div.col-md-3.visible-xs.visible-sm.self
                div.sidebar
                    div.profile
                        img(src='/images/default.jpg')
                        h1 乐正
                        small 专注，简单
                    div.main-nav
                        ul.nav-list
                            li.nav-item
                                a(href='/') 日志
                            li.nav-item
                                a(href='/archives') 归档
                            li.nav-item
                                a(href='/intro') 简介
                    div.social-nav
                        a(class='weibo', href='http://weibo.com/zgs225', title='微博', target="_blank") 微博
                        a(class='google', href='#', title='谷歌+', target="_blank") 谷歌
                        a(class='github', href='https://github.com/zgs225', title='GitHub', target="_blank") GitHub
            div.col-md-9.col-md-offset-3
                div.content
                    block content
            div.script-block
                script(src='http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js')
                script(src='/javascripts/bootstrap.min.js')
                script(src="/javascripts/application.min.js")
