extends layout

block content
    div.article-new.self-content
        h3.title-underscore= title
        form.form-horizontal(method="post", rule="form", enctype="multipart/form-data")
            div.form-group
                label.col-sm-2.control-label(for="title") 标题：
                div.col-sm-8
                    input.form-control(type="text", name="title", id="title", required)
                div.help-block.col-sm-2
            div.form-group
                label.col-sm-2.control-label(for="tags") 标签：
                div.col-sm-8
                    input.form-control(type="text", name="tags", id="tags", placeholder="用逗号分割，如： 美食， 豆制品")
                div.help-block.col-sm-2
            div.form-group
                label.col-sm-2.control-label(for="image") 题图：
                div.col-sm-8
                    a.add-pic-btn(href="javascript:void(0);")
                        span.glyphicon.glyphicon-plus 添加图片
                        input(type="file", name="image", id="image", accept="image/gif, image/jpg, image/png", title="支持上传jpg、gif和png格式的图片")
                    img.img-prev.img-responsive(style="display: none;")
                div.help-block.col-sm-2
            div.form-group
                div.col-sm-offset-2.col-sm-8
                    p
                        small.text-muted 支持使用markdown
                        button.btn.btn-default.btn-info.pull-right.btn-prev(type="button", data-toggle="modal", data-target="#modal") 预览
                        div.clearfix
                    textarea.form-control(name="content", id="content", required, oninput="this.editor.update()")
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-default.btn-danger.hidden-xs(type="submit") 发表
                    button.btn.btn-default.btn-danger.btn-block.visible-xs(type="submit") 发表
    .modal.fade#modal(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title#modalLabel 预览
                .modal-body#article-prev-content
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
    script(src="/javascripts/markdown.min.js")
    script(type="text/javascript")
        function Editor(input, preview) {
          this.update = function() {
            preview.innerHTML = markdown.toHTML(input.value);
          };
          input.editor = this;
          this.update();
        }
        var $ = function(id) { return document.getElementById(id); };
        new Editor($("content"), $("article-prev-content"));
