extends layout

block content
    div.self-content
        div.article-show
            legend= title
                div.credit-line
                    - each tag in article.tags
                        span.label.label-success= tag
                    span.created_at.pull-right= moment(article.created_at).format("YYYY-MM-DD HH:mm:ss")
                    div.clearfix
            div.article-content!= entities.decode(markdown.toHTML(article.content), 2)
        div.comment-block
            #disqus_thread
            script(type="text/javascript")
                var disqus_shortname = 'yuezme';
                (function() {
                  var dsq = document.createElement('script');
                  dsq.type = 'text/javascript';
                  dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            noscript Please enable JavaScript to view the
                a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
            a.dsq-brlink(href="http://disqus.com") comments powerd by
                span.logo-disqus Disqus
