.circle() {
  border-radius: 50%;
  -moz-border-radius: 50%;
}

.transition(@property, @time) {
  -webkit-transition: @property @time;
     -moz-transition: @property @time;
       -o-transition: @property @time;
          transition: @property @time;
}

.card() {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

@background-color: #9932CC;
@border-color: #993399;
@text-background-color: #D8BFD8;
@font: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";

body {
  font-family: @font !important;
  background-color: #e5e5e5;
  opacity: 0.9;
  color: #2B2B2B;
}

legend {
  border-bottom: solid 2px @border-color;
}

blockquote {
  border-color: @border-color;
  background-color: @text-background-color;
  opacity: 0.8;
  font-size: 14px !important;
  p {
    font-size: 14px !important;
  }
}

a {
  color: #DA70D6;
  &:hover {
    color: #BA55D3;
  }
}

pre {
  border-radius: 0;
  border: none;
  background-color: #2e3436 !important;
  code {
    background-color: #2e3436 !important;
    color: #fafafa !important;
    font-size: 16px;
  }
}

textarea {
  resize: vertical;
}

.col-md-3.self {
  padding: 0;
}

.col-md-offset-3.col-md-9 {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
  background: @background-color no-repeat none;
  min-height: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  .profile {
    img {
      width: 160px;
      height: 160px;
      margin-top: 1em;
      border: 2px solid #fff;
      .circle;
    }

    small {
      display: block;
      margin-bottom: 0.5em;
    }
  }

  .main-nav, .social-nav {
    ul {
      list-style: none;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      padding-start: 0;

      li a {
        text-decoration: none;
        letter-spacing: 5px;
        color: #fff;
        &:hover {
          color: @text-background-color;
        }
      }
    }
  }

  .main-nav ul li {
    font-size: 18px;
  }

  .social-nav {
    margin-bottom: 0.5em;
    a {
      text-indent: -9999em;
      display: inline-block;
      border-radius: 50%;
      margin: auto 3px;
      width: 30px;
      height: 30px;
      opacity: 0.6;
      .transition(background-color, 2s);
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    .weibo {
      background: url('/images/weibo.png') center no-repeat #990066;
      border: solid 1px #990033;
    }

    .weibo:hover, .weibo:active {
      background-color: #Ee66aA;
      border: solid 1px #Ee33aA;
    }

    .google {
      background: url('/images/google.png') center no-repeat #CC0000;
      border: solid 1px #990000;
    }

    .google:hover, .google:active {
      background-color: #FF0066;
      border: solid 1px #FF00033;
    }

    .github {
      background: url('/images/github.png') center no-repeat #555555;
      border: solid 1px #444444;
    }

    .github:hover, .github:active {
      background-color: #666666;
      border: solid 1px #555555;
    }
  }
}

.content {
  position: relative;


  .articles .article-summary {
    padding: 1em 0.5em;
    background-color: #fff;
    border-top: 1px solid @border-color;
    .card();

    a {
      text-decoration: none;
    }

    .article-summary-content {
      max-height: 143px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5em 5px;
      margin-bottom: 0.5em;
    }

    .article-summary-footer {
      .labels span.label {
        float: left;
        margin: auto 3px;
      }

      .labels span.label:first-child {
        margin-left: 0;
      }

      .labels span.label:last-child {
        margin-right: 0;
      }
    }
  }

  .articles .article-summary:first-child {
    border-top: none;
  }
}

// article show
.content {

  .pagination.col-md-11 {
    margin-top: 0;
    background: @background-color;
    border-radius: 0 0 4px 4px;
    .card();
  }

  .col-md-11 {
    background: #ffffff none no-repeat;
    .card();
    padding: 1em;

    .article-show {
      margin-bottom: 1em;

      legend {
        padding-bottom: 5px;

        span {
          font-size: 14px;
        }

        span.label {
          font-size: 12px;
          float: left;
          margin: auto 3px;
        }

        span.label:first-child {
          margin-left: 0;
        }

        span.label:last-child {
          margin-right: 0;
        }
      }

    }

    .comment-block {
      .comments {
        .article-comment {
          border-bottom: 1px dashed @text-background-color;
          margin-bottom: 1em;
          padding-bottom: 1em;
          color: #666666;
          .comment-heading {
            .author {
              margin-right: 1em;
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 1px;
            }
            .created_at {
              font-size: 12px;
            }

            .reply {
              a {
                text-decoration: none;
                letter-spacing: 2px;
              }
            }
          }
          .comment-body {
            margin: 0.5em auto;
          }
        }
        .article-comment:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .article-new {
    background: #fff none no-repeat;
    .card();

    textarea {
      min-height: 400px;
      background-color: #2e3436;
      color: #fafafa;
      font-weight: bold;
      border: none;
      font-family: @font;
      letter-spacing: 1px;
      &:focus {
        box-shadow: 0 0 5px #fafafa inset;
        -webkit-box-shadow: 0 0 5px #fafafa inset;
        -moz-box-shadow: 0 0 5px #fafafa inset;
      }
    }
  }

  .archives {
    .months {
      margin-bottom: 1em;
      &:first-child {
        margin-bottom: 0;
      }

      .month {
        .col-sm-2 {
          font-size: 18px;
          color: @background-color;
          font-weight: bold;
          border-left: 1px solid @background-color;
        }

        .col-sm-10 {
          .article-guide {
            margin: 1em auto;
            border-top: 1px dashed @background-color;
            &:first-child {
              margin-top: 0;
              border-top: none;
            }
            .header {
              margin-top: 1em;
              a {
                &:hover {
                  text-decoration: none;
                }
              }

              span {
                color: @background-color;
              }
            }
            .footer {
              .labels {
                span.label {
                  margin-left: 1em;
                  &:first-child {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .article-new {
    a {
      text-decoration: none;
    }

    .add-pic-btn {
      height: 34px;
      width: 100%;
      cursor: pointer;
      line-height: 34px;
      color: #cccccc;
      background: #fafafa;
      display: block;
      text-align: center;
      overflow: hidden;
      border-radius: 4px;
      border: 1px solid #ccc;
      position: relative;
      .transition(all, 1s);

      &:hover {
        background-color: #fbfbfb;
        color: #888;
      }
    }

    input[type='file'] {
      width: 100%;
      height: 34px;
      line-height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  .login-form {
    .errors {
      .card();
      margin-top: 1em;
      max-width: 330px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      background: #fafafa none no-repeat;
    }

    .form-signin {
      .card();
      background: #fafafa none no-repeat;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto 1em auto;

      input {
        margin: 5px 0;
        background-color: #fafafa;
      }
    }
  }

}
