body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background-color: #e5e5e5;
}
legend {
  border-bottom: solid 2px #46b8da;
}
.col-md-3.self {
  padding: 0;
}
.col-md-offset-3.col-md-9 {
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar {
  background: #9900cc no-repeat none;
  min-height: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.sidebar .profile img {
  width: 160px;
  height: 160px;
  margin-top: 1em;
  border: 2px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
}
.sidebar .profile small {
  display: block;
  margin-bottom: 0.5em;
}
.sidebar .main-nav ul,
.sidebar .social-nav ul {
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-start: 0;
}
.sidebar .main-nav ul li a,
.sidebar .social-nav ul li a {
  text-decoration: none;
  letter-spacing: 5px;
  color: #fff;
}
.sidebar .main-nav ul li a:hover,
.sidebar .social-nav ul li a:hover,
.sidebar .main-nav ul li a:active,
.sidebar .social-nav ul li a:active {
  color: #ff0000;
}
.sidebar .main-nav ul li {
  font-size: 18px;
}
.sidebar .social-nav {
  margin-bottom: 0.5em;
}
.sidebar .social-nav a {
  text-indent: -9999em;
  display: inline-block;
  border-radius: 50%;
  margin: auto 3px;
  width: 30px;
  height: 30px;
  opacity: 0.6;
  transition: background-color 2s;
  -moz-transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
}
.sidebar .social-nav a:first-child {
  margin-left: 0;
}
.sidebar .social-nav a:last-child {
  margin-right: 0;
}
.sidebar .social-nav .weibo {
  background: url('/images/weibo.png') center no-repeat #990066;
  border: solid 1px #990033;
}
.sidebar .social-nav .weibo:hover,
.sidebar .social-nav .weibo:active {
  background-color: #Ee66aA;
  border: solid 1px #Ee33aA;
}
.sidebar .social-nav .google {
  background: url('/images/google.png') center no-repeat #cc0000;
  border: solid 1px #990000;
}
.sidebar .social-nav .google:hover,
.sidebar .social-nav .google:active {
  background-color: #FF0066;
  border: solid 1px #FF00033;
}
.sidebar .social-nav .github {
  background: url('/images/github.png') center no-repeat #555555;
  border: solid 1px #444444;
}
.sidebar .social-nav .github:hover,
.sidebar .social-nav .github:active {
  background-color: #666666;
  border: solid 1px #555555;
}
.content {
  position: relative;
}
.content .articles .article-summary:last-child {
  border-bottom: none;
}
.content .articles .article-summary {
  padding: 1em 0.5em;
  background-color: #fff;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #46b8da;
}
.content .articles .article-summary a {
  text-decoration: none;
}
.content .articles .article-summary .article-summary-content {
  max-height: 143px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 5px;
  margin-bottom: 0.5em;
}
.content .articles .article-summary .article-summary-footer .labels span.label {
  float: left;
  margin: auto 3px;
}
.content .articles .article-summary .article-summary-footer .labels span.label:first-child {
  margin-left: 0;
}
.content .articles .article-summary .article-summary-footer .labels span.label:last-child {
  margin-right: 0;
}
.content .col-md-11 {
  background: #ffffff none no-repeat;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
}
.content .col-md-11 .article-show {
  margin-bottom: 1em;
}
.content .col-md-11 .article-show legend {
  padding-bottom: 5px;
}
.content .col-md-11 .article-show legend span {
  font-size: 14px;
}
.content .col-md-11 .article-show legend span.label {
  font-size: 12px;
  float: left;
  margin: auto 3px;
}
.content .col-md-11 .article-show legend span.label:first-child {
  margin-left: 0;
}
.content .col-md-11 .article-show legend span.label:last-child {
  margin-right: 0;
}
.content .col-md-11 .comment-block .comments .article-comment {
  border-bottom: 1px solid #46b8da;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.content .col-md-11 .comment-block .comments .article-comment .comment-heading .author {
  margin-right: 1em;
  font-size: 16px;
  font-weight: bold;
}
.content .col-md-11 .comment-block .comments .article-comment .comment-heading .created_at {
  font-size: 12px;
}
.content .col-md-11 .comment-block .comments .article-comment .comment-body {
  margin: 0.5em auto;
  text-indent: 10px;
}
.content .col-md-11 .comment-block .comments .article-comment .comment-footer li {
  list-style: none;
  float: left;
  margin-right: 1em;
}
.content .col-md-11 .comment-block .comments .article-comment:last-child {
  border-bottom: none;
}
.content .article-new {
  background: #ffffff none no-repeat;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
}
.content .article-new textarea {
  min-height: 600px;
}
